<header class="c-siteheader u-alignment--center">

  <img class="c-siteheader__icon" src="/assets/images/icon_128x128.png" srcset="/assets/images/icon_128x128.png 1x, /assets/images/icon_128x128@2x.png 2x" alt="Toggluv App Icon">

  <h1 class="c-siteheader__header"><span class="u-fontstyle--strong">Toggluv</span> for Mac</h1>
  <p class="c-siteheader__description">The illest Toggl client ever, yo</p>

  <div class="c-download">
    <a class="c-button c-button--download c-download__button" href="/download">Download pre-release for Free</a>
  </div>

</header>
