<div id="modal" class="c-modal">
  <!-- Begin MailChimp Signup Form -->
  <form action="//toggluv.us7.list-manage.com/subscribe/post?u=40b2fe274e6d6a9d03dd7d5f1&amp;id=c221da06a2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row">
      <div class="c-mailinglist--email four columns">
        <input type="email" value="" name="EMAIL" class="c-input c-input--text required email" id="mce-EMAIL" placeholder="Email Address">
      </div>
      <div class="c-mailinglist--firstname u-visibility--hidden four columns">
        <input type="text" value="" name="FNAME" class="c-input c-input--text" id="mce-FNAME" placeholder="First Name">
      </div>
      <div class="c-mailinglist--submit four columns">
        <input type="hidden" name="BETA" value="Yes">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="c-button c-button--confirm button">
      </div>
    </div>
  </form>
  <!--End mc_embed_signup-->
</div>
