.c-modal {
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  transition: 0.25s linear all;
  &__content {
    position: relative;
    width: auto;
    margin: 5rem auto 0;
    padding: 2rem;
    box-shadow: 0 2px 40px rgba(0,0,0,0.4);
    background: white;
    text-align: center;
    &__hidebutton {
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
  &.is-visible, div.is-visible {
    visibility: visible;
    transition: 0.25s linear all;
    opacity: 1;
  }
}

.c-siteheader {
  z-index: 1;
  width: 100%;
  color: white;
  min-height: 50rem;
  height: 100%;
  background: url('/assets/images/bg-header.jpg') no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
  @media only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    background: url('/assets/images/bg-header@2x.jpg') no-repeat 50% 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  &__icon {
    margin: 7rem 0 1rem 0;
    animation: fadein 1s;
  }
  &__header, &__description {
    text-shadow: 1px 1px 0 #111;
  }
  &__header {
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
  }
  &__description {
    font-weight: 300;
    &__link {
      color: white;
      text-decoration: none;
      border-bottom: white 1px solid;
      &:hover {
        color: white;
        border-bottom: none;
      }
    }
  }

  .c-download {
    margin-top: 5rem;
  }
}

.c-wrapper--homepage {
  background: white;
  min-height: 100%;
}

.c-preview {
  position: relative;
  top: -5rem;
  animation: moveup 0.5s;

  &__animation {
    max-width: 80%;
    padding: 1rem;
    background: white;
    border: #aaa 1px solid;
    box-shadow: 0 2px 40px rgba(0,0,0,0.4);
  }
  &__playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    cursor: pointer;
  }
}

.c-input {
  padding: 0.5rem 2rem;
  border: #eee 1px solid;
  box-shadow: 0 2px 0px rgba(0,0,0,0.2);
  width: 100%;
  &.required {
    border-color: #1C7CE4;
  }
}

.c-button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  background: white;
  color: $color;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: #eee 3px solid;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);

  &--download {
    background-color: #E41C24;
    color: white;
    border-bottom-color: #6C0A0D;
    &:hover {
      background-color: #D0151C;
    }
  }
  &--confirm {
    background-color: #1C7CE4;
    color: white;
    border-bottom-color: #0E4683;
    &:hover {
      background-color: #136AC9;
    }
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  }
}

.c-mailinglist {
  &--submit {
    .c-button--confirm {
      width: 100%;
    }
  }
  &--spam {
    font-size: 1rem;
    color: #aaa;
  }
}

.c-beta {
  &__header, &__description {
    text-align: center;
  }
}

.c-sitefooter {
  margin: 5rem 0;
  min-height: 5rem;
  font-size: 1rem;
}

@keyframes moveup {
  from { top: 0; }
  to   { top: -10rem; }
}
