.c-modal {
  display: none;
}

.c-siteheader {
  z-index: 1;
  width: 100%;
  color: white;
  min-height: 50rem;
  height: 100%;
  background: url('/assets/images/bg-header.jpg') no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
  @media only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    background: url('/assets/images/bg-header@2x.jpg') no-repeat 50% 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  &__icon {
    margin: 7rem 0 1rem 0;
    animation: fadein 1s;
  }
  &__header, &__description {
    text-shadow: 1px 1px 0 #111;
  }
  &__header {
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
  }
  &__description {
    font-weight: 300;
  }

  .c-download {
    margin-top: 5rem;
  }
}

.c-wrapper--homepage {
  background: white;
  min-height: 100%;
}

.c-preview {
  position: relative;
  top: -10rem;
  animation: moveup 0.5s;

  &__animation {
    max-width: 80%;
    padding: 1rem;
    background: white;
    border: #eee 1px solid;
    box-shadow: 0 2px 0px rgba(0,0,0,0.2);
  }
  &__playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    cursor: pointer;
  }
}

.c-input {
  padding: 0.5rem 2rem;
  border: #eee 1px solid;
  box-shadow: 0 2px 0px rgba(0,0,0,0.2);
  width: 100%;
}

.c-button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: white;
  color: $color;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: #eee 3px solid;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);

  &--download {
    background-color: #E41C24;
    color: white;
    border-bottom-color: #6C0A0D;
    &:hover {
      background-color: #E22C33;
    }
  }
  &--confirm {
    background-color: #1C7CE4;
    color: white;
    border-bottom-color: #0E4683;
    &:hover {
      background-color: #489BF4;
    }
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  }
}

.c-beta {
  &__header, &__description {
    text-align: center;
  }
}

.c-sitefooter {
  min-height: 5rem;
  font-size: 1rem;
}

@keyframes moveup {
  from { top: 0; }
  to   { top: -10rem; }
}
