/*
The main SCSS file for everything, yep
*/

$desktop: 768px;

html, body {
  height: 100%;
}
html {
  font-size: 62.5%;
  @media (min-width: $desktop) {
    font-size: 100%;
  }
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.6rem;
}

@import "normalize";
@import "fonts";
@import "utilities";
@import "animations";
@import "components";
