/*
The main SCSS file for everything, yep
*/

@import "foundation.min";
@import "fonts";

$offset: 2em;
$text-color: #111;

body, html, .page-content, .divided, .image {
  height: 100%;
}

.divided {
  .text {
    background: white; 
    color: $text-color;
    padding: $offset;
    h1, h3 {
      text-align: center;
      margin: ($offset / 2) 0;
    }
  }
}
@media only screen and (max-width: 70em) {
  .divided {
    div {
      position: absolute;
      width: 100%;
    }
    .text {
      z-index: 1;
    }
    .image {
      z-index: 0;
    }
  }
}
@media only screen and (min-width: 70em) {
  .divided {
    div {
      float: left;
    }
    .text {
      width: 40%;
      height: 100%;
    }
    .image {
      width: 60%;
    }
  }
}

.image {
  position: relative;
  background: url('/assets/images/bg-header.jpg') no-repeat 50% 100%;
  background-size: cover;
  @media only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    background: url('/assets/images/bg-header@2x.jpg') no-repeat 50% 100%;
    background-size: cover;
  }
}

#icon {
  width: 64px;
  height: 64px; 
  position: absolute;
  bottom: $offset;
  left: $offset;
  background: url('/assets/images/icon_128x128.png') no-repeat;
  animation: fadein 2s;
  transition: all 0.25s;
  @media only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    background: url('/assets/images/icon_128x128@2x.png') no-repeat;
    background-size: 64px;
  }
  @media only screen and (min-width: 40em) {
    width: 128px;
    height: 128px; 
    bottom: $offset * 2;
    left: $offset * 2;
    background-size: 128px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
